///////////////////////////////////////////////////////////////////
////////////////////////// NAVBAR MENU ////////////////////////////
///////////////////////////////////////////////////////////////////
.navbar.pl-navbar {
    background: transparent;
    transition: background .5s;

    .navbar-brand > .navbar-item {
        opacity: 0;
    }

    .navbar-item,
    .navbar-link {
        color: #e4e4e4;
        transition: opacity .5s;

        &:hover,
        &.is-active {
            background-color: rgba(255, 255, 255, .1);
        }
    }

    .navbar-burger:hover {
        background-color: rgba(255, 255, 255, .1);
    }
    .navbar-burger span {
        background-color: #e4e4e4;
    }

    .navbar-menu {
        text-align: center;
        
        @media screen and (max-width: 1087px) {
            background-color: rgba(255, 255, 255, .1);
        }
    }
}

.navbar.pl-navbar.is-out-header {
    background: rgba(0, 10, 10, .95);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);

    .navbar-brand .navbar-item {
        opacity: 1;
    }
}



///////////////////////////////////////////////////////////////////
////////////////////////// HERO HEADER ////////////////////////////
///////////////////////////////////////////////////////////////////
.hero.is-large .hero-body {
    background-color: rgba(0, 0, 0, .4);

    @media screen and (max-width: 768px) {        
        padding-bottom: 14rem;
        padding-top: 14rem;
    }
}

.hero.hero-header {
    background-image: url('../img/hero-header-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.hero.hero-header .title {
    font-size: 2.2rem;
    color: #e4e4e4;

    @media screen and (min-width: 769px) {
        font-size: 3.4rem;
    }
}

.hero.hero-header .subtitle {
    font-size: 1.2rem;
    color: #c4c4c4;

    @media screen and (min-width: 769px) {
        font-size: 1.8rem;
    }
}



///////////////////////////////////////////////////////////////////
//////////////////////// TECH AND TOOLS ///////////////////////////
///////////////////////////////////////////////////////////////////
#tecnologias {
    background-color: #f4f4f4;

    .level-item {
        opacity: .6;
        filter: grayscale(1);
        transform: scale(.95);
        transition: filter 1.2s, opacity 1.2s, transform .5s;

        .image {
            margin: auto;
        }

        .heading {
            font-weight: bold;
            color: #888;
            transition: color 1.2s;
        }

        &.colored {
            filter: grayscale(0);
            opacity: 1;
            transform: scale(1);
        }
    }

}