body {
    background: #f4f4f4;
}




///////////////////////////////////////////////////////////////////
////////////////////////// NAVBAR MENU ////////////////////////////
///////////////////////////////////////////////////////////////////
.navbar.pl-navbar {
    background: transparent;
    transition: background .5s;

    .navbar-brand > .navbar-item {
        opacity: 0;
    }

    .navbar-item,
    .navbar-link {
        color: #e4e4e4;
        transition: opacity .5s, background .5s;

        &:hover,
        &.is-active {
            background-color: rgba(255, 255, 255, .05);
        }
    }

    .navbar-burger{
        transition: opacity .5s, background .5s;
        &:hover {
            background-color: rgba(255, 255, 255, .05);
        }
    }
    .navbar-burger span {
        background-color: #e4e4e4;
    }

    .navbar-menu {
        text-align: center;
        
        @media screen and (max-width: 1087px) {
            background-color: rgba(255, 255, 255, .05);
        }
    }
}

.navbar.pl-navbar.visible,
.navbar.pl-navbar.visible-active {
    background: #1a1a1a;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);

    .navbar-brand .navbar-item {
        opacity: 1;
    }
}



///////////////////////////////////////////////////////////////////
////////////////////////// HERO HEADER ////////////////////////////
///////////////////////////////////////////////////////////////////
.hero.is-large .hero-body {
    background-color: rgba(0, 0, 0, .4);

    @media screen and (max-width: 768px) {        
        padding-bottom: 14rem;
        padding-top: 14rem;
    }
}

.hero.hero-header {
    background-image: url('../img/hero-header-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.hero.hero-header .title {
    font-size: 2.2rem;
    color: #ddd;

    @media screen and (min-width: 769px) {
        font-size: 3.4rem;
    }
}

.hero.hero-header .subtitle {
    font-size: 1.2rem;
    color: #c4c4c4;

    @media screen and (min-width: 769px) {
        font-size: 1.8rem;
    }
}


///////////////////////////////////////////////////////////////////
/////////////////////////// QUEM SOU //////////////////////////////
///////////////////////////////////////////////////////////////////
section#quem-sou {
    .image {
        margin: auto;
        
        img {
            border-radius: 50%;
            border: 5px solid #ccc;
        }
    }

    .quem-sou-texto {
        font-size: 1.2rem;
    }
}


///////////////////////////////////////////////////////////////////
////////////////////////// TECNOLOGIAS ////////////////////////////
///////////////////////////////////////////////////////////////////
section#tecnologias {
    background-color: #e4e4e4;

    .level-item {
        opacity: .8;
        transition: transform .5s;

        .image {
            margin: auto;
        }

        .heading {
            font-weight: bold;
            transition: color 1.2s;
        }

        &.colored {
            transform: scale(1.1);
        }
    }

}

///////////////////////////////////////////////////////////////////
/////////////////////////// PROJETOS //////////////////////////////
///////////////////////////////////////////////////////////////////
section#projetos {
    .image {
        margin: 15px auto;
    }
}


///////////////////////////////////////////////////////////////////
//////////////////////////// CONTATO //////////////////////////////
///////////////////////////////////////////////////////////////////
section#contato {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #1f1f1f;
    color: #888;

    .title {
        color: #ddd;
    }
}



///////////////////////////////////////////////////////////////////
//////////////////////////// FOOTER ///////////////////////////////
///////////////////////////////////////////////////////////////////
footer.footer {
    color: #888;

    .button.is-primary.is-outlined:hover,
    .button.is-primary.is-outlined:focus {
        color: #1d1d1d;
    }
}